@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #f8fafc;
}

.container {
    display: flex;
    margin: 50px 10px;
}

.perfil {
    flex: 1;
    margin-right: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    height: max-content;
}

.cabecalho-perfil {
    display: flex;
    margin-left: 15px;
}

.imagem-perfil {
    width: 55px;
    height: 60px;
    border-radius: 10px;
    margin: 10px;
}

.container-texto-perfil {
    line-height: 0.5;
}

.titulo-perfil {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.email-perfil {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}
.telefone-perfil {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

.menu {
    margin: 0 20px;
}

.link-menu {
    display: block;
    text-decoration: none;
    color: #768499;
    font-family: "Poppins", sans-serif;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.icone-menu {
    margin-right: 10px;
}

.link-menu:first-child {
    color: #fff;
    background-color: red;
}

.link-menu:hover {
    background-color: #f1f5f9;
    color: #1e293b;
}

.link-menu:first-child:hover {
    background-color: #f59e7a;
    color: #fff;
}

.conta {
    flex: 2;
    margin-left: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    height: max-content;
}

.cabecalho-conta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #768499;
}

.titulo-conta {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #1e293b;
    font-weight: 500;
    margin-left: 10px;
}

.container-botoes {
    margin-right: 5px;
}

.botao-cancelar {
    width: 8em;
    height: 3em;
    cursor: pointer;
    border: 1px solid #768499;
    border-radius: 2em;
    color: #1e293b;
    font-weight: bold;
    margin-right: 5px;
    background-color: #fff;
    transition-duration: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.botao-cancelar:hover {
    background-color: #f1f5f9;
}

.botao-salvar {
    width: 8em;
    height: 3em;
    cursor: pointer;
    border: 1px solid #458ff6;
    border-radius: 2em;
    color: #fff;
    font-weight: bold;
    margin-right: 5px;
    background-color: red;
    transition-duration: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.botao-salvar:hover {
    background-color: #f59e7a;
}

.edicao-conta {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.container-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.container-input label {
    font-family: "Poppins", sans-serif;
    color: #768499;
    font-size: 14px;
}

.container-input input {
    height: 25px;
    border: 1.5px solid #768499;
    border-radius: 5px;
    padding: 5px;
    color: #768499;
    font-family: "Poppins", sans-serif;
}

.container-input input:focus {
    outline: none;
    border: 1.5px solid #536dfe;
}

.container-input textarea {
    display: block;
    width: 100%;
    height: 100px;
    padding: 5px;
    border: 1.5px solid #768499;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    color: #768499;
}

.container-input textarea:focus {
    outline: none;
    border: 1.5px solid #536dfe;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .perfil {
        margin-bottom: 20px;
        margin-right: 0;
    }

    .conta {
        margin: 0;
    }

    .cabecalho-conta {
        flex-direction: column;
    }

    .edicao-conta {
        flex-direction: column;
        margin: 10px;
    }

    .container-input {
        margin: 10px;
    }

    .container-input input {
        margin-right: 10px;
    }

    .container-input textarea {
        display: block;
        width: auto;
        margin-right: 10px;
    }
}
