@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  background-color: #990000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  padding-top: 20px;
}

.aviso {
  margin-top: 20px;
  color: #fff;
  font-size: 40px;
  text-align: center;
  font-family: "Poppins";
}

.usuario {
  width: 230px;
}

.register-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #e57657;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins";
}

.register-button:hover {
  background-color: #df4d31;
}
