@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #fd1005, #4e0000);
}

.container{
    max-width: 700px;
    width: 100%;
    background-color: #ff9b72;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg,#990000 , #990000);
}

.content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span user.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}

/* estilização dos campos de entrada*/
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #990000;
}

/*Colocando tamanho da fonte da palavra gênero*/
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}

/*Colocando o espaçamento entre as categorias*/
form .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10%;
    background: #dff135;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label one,
#dot-2:checked ~ .category label two,
#dot-3:checked ~ .category label three{
    background: #68f763;
    border-color: #dff135;    
}

/*Estilizando o marcador de gênero*/
form input[type="radio"] {
    display:flexbox;
}

form .button{
    height: 75px;
    margin: 35px 0;
}

/*Estilização do botão de registro*/
form .button input{
    height: 90%;
    width: 95%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: red;
}

form .button input:hover{
    background: #d13621;
}

@media(max-width:584px){
.container {
    max-width: 100%;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
}

form .category{
    width: 100%;
}

.content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
}

.user-details::-webkit-scrollbar{
    width: 5px;
}

}

@media(max-width:459px){
    .container .content .category{
        flex-direction: column;
    }
}