@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #f8fafc;

}
.container{
    display:flex;
    margin: 50px 10px;
}
.profile{
    flex: 1;
    margin-right: 10px;
    background-color: #fff;
    background-color: rgba(0,0,0,0.16) 0px 1px 4px;
    border-radius: 5px;
    height: max-content;
}
.profile-header{
    display: flex;
    margin-left: 15px;
}
.profile-img{
    width: 55px;
    height: 60px;
    border-radius: 10px;
    margin: 10px;

}
.profile-text-container{
    line-height: 0.5;

}
.profile-title{
    font-family: "Poppins",sans-serif;
    font-size: 20px;
}
.profile-email{
    font-family: "Poppins",sans-serif;
    font-size: 14px;
}
.menu{
    margin: 0 20px;

}

.menu-link{
    display: block;
    text-decoration: none;
    color:#768499;
    font-family: "Poppins",sans-serif;
    padding: 10px;
    margin: 10px;
    border-radius: 10px ;
}
.menu-icon{
    margin-right: 10px;
}

.menu-link:first-child{
    color: #fff;
    background-color: red;
}
.menu-link:hover {
    background-color: #f1f5f9;
    color: #1e293b;
}
.menu-link:first-child:hover{
    background-color: #f59e7a   ;
    color:#fff;
}
.account{
    flex: 2;
    margin-left: 10px;
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
    border-radius: 5px;
    height: max-content;
}
.account-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #768499;
}
.account-title{
    font-family: "Poppins",sans-serif;
    font-size: 20px;
    color: #1e293b;
    font-weight: 500;
    margin-left: 10px;   
}
.btn-container{
    margin-right: 5px;
}
.btn-cancel{
    width: 8em;
    height: 3em;
    cursor: pointer;
    border: 1px soid #768499;
    border-radius: 2em;
    color: #1e293b;
    font-weight: bold;
    margin-right: 5px;
    background-color: #fff;
    transition-duration: 0.3s;
    box-shadow: rgba(0,0,0,0.1);
}
.btn-cancel:hover{
    background-color: #f1f5f9;
}
.btn-save{
    width: 8em;
    height: 3em;
    cursor: pointer;
    border: 1px soid #458ff6;
    border-radius: 2em;
    color: #fff;
    font-weight: bold;
    margin-right: 5px;
    background-color: red;
    transition-duration: 0.3s;
    box-shadow: rgba(0,0,0,0.1);
}
.btn-save:hover{
    background-color: #f59e7a;
}
.account-edit{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.input-container label{
    font-family: "Poppins",sans-serif;
    color: #768499;
    font-size: 14px;
}
.input-container input{
    height: 25px;
    border: 1.5px solid #768499;
    border-radius: 5px;
    padding: 5px;
    color: #768499;
    font-family: "Poppins",sans-serif;
}
.input-container input:focus{
    outline: none;
    border: 1.5px solid #536dfe;
}
.input-container textarea{
    display: block;
    width: 100%;
    height: 100px;
    padding: 5px;
    border: 1.5px solid #768499;
    border-radius: 5px;
    font-family: "Poppins",sans-serif;
    color: #768499;
}
.input-container textarea:focus{
    outline: none;
    border: 1.5px solid #536dfe;
}
@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
    }
    .profile{
        margin-bottom: 20px;
        margin-right: 0;
    }
    .account{
        margin: 0;
    }
    .account-header{
        flex-direction: column;
    }
    .account-edit{
        flex-direction: column;
        margin: 10px;
    }
    .input-container{
        margin: 10px;
    }
    .input-container input{
        margin-right: 10px;
    }
    .input-container textarea{
        display: block;
        width: auto;
        margin-right: 10px;
    }
}